#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 2px;
  }
  
  figure {
    padding: 30px;
    border-radius: 2px 2px 0 0;
  }
  
  #img-div {
    max-width: 100%;
    margin: 0;
    padding: 50px
  }
  
  #img-caption {
    text-align: center;
    padding-top: 3%;
    color: #D8C618;
    font-size: 16px;

  }
  
  main {
    background-color: #1a1a1a;
    border-radius: 2px;
    max-width: 95%;
    margin: 50px auto;
    color: #e8e8e8;
  }
  
  ul {
    padding: 0;  
  }
  
  li {
    list-style-type: none; /* Remove o marcador padrão */
    position: relative; /* Permite posicionar a imagem */
  
    font-size: 16px;
    padding: 20px 0;
    margin: 0px 20% 0 25%;
  }
  
  li::before {
    content: ""; /* Adiciona conteúdo antes do li */
    position: absolute; /* Posiciona absolutamente em relação ao li */
    left: -35px; /* Posiciona à esquerda do li */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%) scaleX(-1); /* Ajusta a posição vertical */
    width: 25px; /* Largura da imagem */
    height: 25px; /* Altura da imagem */
    background-image: url('https://images.vexels.com/media/users/3/304041/isolated/preview/0194d43037b09403d44f96e1057f0f07-checkered-flag-filled-stroke.png');
    background-size: cover; /* Ajusta o tamanho da imagem */
    filter: invert(100%);
  }
  
  #title, p {
    text-align: center;
    color: white;
  }
  
  #title {
    margin-top: 50px;
  }
  
  html {
    background-color: #b72b23;
  }
  
  h2 {
    text-align: center;
    padding-bottom: 2%;
  }
  
  #frase-de-efeito {
    text-align: left;
    font-size: 16px;
    color: #5f5f5f;
    font-style: italic;
    margin: 2% 25% 0 25%;
  
  }
  
  #saiba-mais {
    padding: 5% 0;
    margin: 0;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #6a1a1a;
  }
  
  a:hover {
    color: #b72b23;
  }

  * {
    font-family: "DejaVu Sans", sans-serif;
  }